#s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-logo {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-text {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-Label_417 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-Label_430 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-Label_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-Ellipse_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-Ellipse_32 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-Ellipse_33 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-Ellipse_34 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-Ellipse_35 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-Label_442 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-Label_51 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-Button_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-12f95033-51c0-4a0b-bb64-c80c715ca252 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}