#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 > #backgroundBox {
  background-color: #FFFFFF;
  background-image: none;
  position: absolute;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 > #alignmentBox {
  position: relative;
  max-width: 375px;
  max-height: 667px;
  width: 100%;
  height: 100%;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Email-inbox-screen {
  position: absolute;
  width: 375px;
  height: 667px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Dynamic_Panel_3 {
  position: absolute;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Panel_3 {
  width: 375px;
  height: 514px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Panel_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Panel_3 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Panel_3 > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 375px;
  height: 514px;
  overflow-x: hidden;
  overflow-y: auto;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Panel_3 .verticalalign {
  vertical-align: top;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Mail_1 {
  width: 376px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Mail_1 > .backgroundLayer {
  height: calc(100% + -1px);
  width: calc(100% + -1px);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  box-shadow: none;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Mail_1 > table {
  padding-left: 1px;
  padding-top: 1px;
  padding-bottom: 0px;
  padding-right: 0px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Mail_1 tr.odd {
  background-color: #FFFFFF;
  background-image: none;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Mail_1 tr.even {
  background-color: #F0F0F0;
  background-image: none;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Row_3 {
  background-color: transparent;
  background-image: none;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Row_cell_5 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Row_cell_5 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Row_cell_5 .verticalalign {
  vertical-align: middle;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Row_cell_5 {
  width: 374px;
  height: 0px;
  background-color: #FFFFFF;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Mail_1 .s-Row_4 {
  background-color: transparent;
  background-image: none;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Mail_1 .s-Row_cell_6 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Mail_1 .s-Row_cell_6 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Mail_1 .s-Row_cell_6 .verticalalign {
  vertical-align: middle;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Mail_1 .s-Row_cell_6 {
  width: 375px;
  height: 85px;
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Mail_1 .s-Input_12 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Mail_1 .s-Input_12 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Mail_1 .s-Input_12 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Mail_1 .s-Input_12 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Mail_1 .s-Input_12 {
  position: absolute;
  width: 206px;
  height: 26px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Mail_1 .s-Input_12 .valign {
  vertical-align: top;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Mail_1 .s-Input_12 input {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  text-shadow: none;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Mail_1 .s-Input_12 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Mail_1 .s-Input_12 > .paddingLayer {
  height: 26px;
  width: 206px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Mail_1 .s-Input_18 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Mail_1 .s-Input_18 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Mail_1 .s-Input_18 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Mail_1 .s-Input_18 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Mail_1 .s-Input_18 {
  position: absolute;
  width: 244px;
  height: 31px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Mail_1 .s-Input_18 .valign {
  vertical-align: top;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Mail_1 .s-Input_18 input {
  color: #747474;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Mail_1 .s-Input_18 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Mail_1 .s-Input_18 > .paddingLayer {
  height: 31px;
  width: 244px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Mail_1 .s-Input_19 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Mail_1 .s-Input_19 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Mail_1 .s-Input_19 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Mail_1 .s-Input_19 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Mail_1 .s-Input_19 {
  position: absolute;
  width: 75px;
  height: 18px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Mail_1 .s-Input_19 .valign {
  vertical-align: middle;
  line-height: 9.0pt;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Mail_1 .s-Input_19 input {
  color: #747474;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
  text-shadow: none;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Mail_1 .s-Input_19 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Mail_1 .s-Input_19 > .paddingLayer {
  height: 18px;
  width: 75px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 .shapewrapper-s-dotblue > .shapert-clipping {
  width: 14px;
  height: 14px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 .shapewrapper-s-dotblue .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 14px;
  height: 14px;
  position: absolute;
  overflow: hidden;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 .shapewrapper-s-dotblue .content {
  text-shadow: none;
  width: 14px;
  height: 14px;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 .shapewrapper-s-dotblue > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 .shapewrapper-s-dotblue {
  position: absolute;
  width: 14px;
  height: 14px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Mail_1 .s-dotblue {
  width: 14px;
  height: 14px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #157EFB;
  background-image: none;
  box-shadow: none;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 .shapewrapper-s-dotblue .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 .shapewrapper-s-dotblue span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 .shapewrapper-s-dotblue span#rtr-s-dotblue_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Mail_1 .s-Clip > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Mail_1 .s-Clip {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 13.0pt;
  font-family: 'IOS8-Icons-Regular',Arial;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Mail_1 .s-Clip > .clipping, #s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Mail_1 .s-Clip > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Mail_1 .s-Clip .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Mail_1 .s-Clip span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: 'IOS8-Icons-Regular',Arial;
  font-size: 13.0pt;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Mail_1 .s-Clip span#rtr-s-Clip_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: 'IOS8-Icons-Regular',Arial;
  font-size: 13.0pt;
  line-height: 0px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Mail_1 .s-Arrow > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Mail_1 .s-Arrow {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'IOS8-Icons-Regular',Arial;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Mail_1 .s-Arrow > .clipping, #s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Mail_1 .s-Arrow > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Mail_1 .s-Arrow .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Mail_1 .s-Arrow span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: 'IOS8-Icons-Regular',Arial;
  font-size: 12.0pt;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Mail_1 .s-Arrow span#rtr-s-Arrow_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: 'IOS8-Icons-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Mail_1 .s-Input_11 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Mail_1 .s-Input_11 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Mail_1 .s-Input_11 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Mail_1 .s-Input_11 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Mail_1 .s-Input_11 {
  position: absolute;
  width: 206px;
  height: 18px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Mail_1 .s-Input_11 .valign {
  vertical-align: top;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Mail_1 .s-Input_11 input {
  color: #747474;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Mail_1 .s-Input_11 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Mail_1 .s-Input_11 > .paddingLayer {
  height: 18px;
  width: 206px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Group_51 {
  position: absolute;
  width: 375px;
  height: 20px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Rectangle_46 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #F6F6F6;
  background-image: none;
  box-shadow: none;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Rectangle_46 {
  position: absolute;
  width: 375px;
  height: 19px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Rectangle_46 > .clipping, #s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Rectangle_46 > .paddingLayer {
  height: 19px;
  width: 375px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Rectangle_46 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Rectangle_46 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Rectangle_46 span#rtr-s-Rectangle_46_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_484 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_484 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'IOS8-Icons-Regular',Arial;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_484 > .clipping, #s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_484 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_484 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_484 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'IOS8-Icons-Regular',Arial;
  font-size: 12.0pt;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_484 span#rtr-s-Label_484_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'IOS8-Icons-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_489 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_489 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'IOS8-Icons-Regular',Arial;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_489 > .clipping, #s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_489 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_489 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_489 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'IOS8-Icons-Regular',Arial;
  font-size: 11.0pt;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_489 span#rtr-s-Label_489_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'IOS8-Icons-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_168 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_168 {
  position: absolute;
  width: 78px;
  height: 19px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_168 > .clipping, #s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_168 > .paddingLayer {
  height: 19px;
  width: 78px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_168 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_168 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_168 span#rtr-s-Label_168_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Group_61 {
  position: absolute;
  width: 34px;
  height: 6px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #shapewrapper-s-Ellipse_27 > .shapert-clipping {
  width: 6px;
  height: 6px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #shapewrapper-s-Ellipse_27 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #shapewrapper-s-Ellipse_27 .content {
  text-shadow: none;
  width: 6px;
  height: 6px;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #shapewrapper-s-Ellipse_27 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #shapewrapper-s-Ellipse_27 {
  position: absolute;
  width: 6px;
  height: 6px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Ellipse_27 {
  width: 6px;
  height: 6px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #000000;
  background-image: none;
  box-shadow: none;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #shapewrapper-s-Ellipse_27 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #shapewrapper-s-Ellipse_27 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #shapewrapper-s-Ellipse_27 span#rtr-s-Ellipse_27_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #shapewrapper-s-Ellipse_133 > .shapert-clipping {
  width: 6px;
  height: 6px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #shapewrapper-s-Ellipse_133 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #shapewrapper-s-Ellipse_133 .content {
  text-shadow: none;
  width: 6px;
  height: 6px;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #shapewrapper-s-Ellipse_133 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #shapewrapper-s-Ellipse_133 {
  position: absolute;
  width: 6px;
  height: 6px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Ellipse_133 {
  width: 6px;
  height: 6px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #000000;
  background-image: none;
  box-shadow: none;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #shapewrapper-s-Ellipse_133 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #shapewrapper-s-Ellipse_133 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #shapewrapper-s-Ellipse_133 span#rtr-s-Ellipse_133_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #shapewrapper-s-Ellipse_134 > .shapert-clipping {
  width: 6px;
  height: 6px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #shapewrapper-s-Ellipse_134 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #shapewrapper-s-Ellipse_134 .content {
  text-shadow: none;
  width: 6px;
  height: 6px;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #shapewrapper-s-Ellipse_134 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #shapewrapper-s-Ellipse_134 {
  position: absolute;
  width: 6px;
  height: 6px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Ellipse_134 {
  width: 6px;
  height: 6px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #000000;
  background-image: none;
  box-shadow: none;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #shapewrapper-s-Ellipse_134 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #shapewrapper-s-Ellipse_134 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #shapewrapper-s-Ellipse_134 span#rtr-s-Ellipse_134_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #shapewrapper-s-Ellipse_135 > .shapert-clipping {
  width: 6px;
  height: 6px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #shapewrapper-s-Ellipse_135 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #shapewrapper-s-Ellipse_135 .content {
  text-shadow: none;
  width: 6px;
  height: 6px;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #shapewrapper-s-Ellipse_135 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #shapewrapper-s-Ellipse_135 {
  position: absolute;
  width: 6px;
  height: 6px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Ellipse_135 {
  width: 6px;
  height: 6px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #000000;
  background-image: none;
  box-shadow: none;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #shapewrapper-s-Ellipse_135 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #shapewrapper-s-Ellipse_135 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #shapewrapper-s-Ellipse_135 span#rtr-s-Ellipse_135_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #shapewrapper-s-Ellipse_136 > .shapert-clipping {
  width: 6px;
  height: 6px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #shapewrapper-s-Ellipse_136 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #shapewrapper-s-Ellipse_136 .content {
  text-shadow: none;
  width: 6px;
  height: 6px;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #shapewrapper-s-Ellipse_136 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #shapewrapper-s-Ellipse_136 {
  position: absolute;
  width: 6px;
  height: 6px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Ellipse_136 {
  width: 6px;
  height: 6px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #000000;
  background-image: none;
  box-shadow: none;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #shapewrapper-s-Ellipse_136 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #shapewrapper-s-Ellipse_136 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #shapewrapper-s-Ellipse_136 span#rtr-s-Ellipse_136_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_490 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_490 {
  position: absolute;
  width: 27px;
  height: 19px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 20.0pt;
  font-family: 'IOS8-Icons-Regular',Arial;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_490 > .clipping, #s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_490 > .paddingLayer {
  height: 19px;
  width: 27px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_490 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_490 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'IOS8-Icons-Regular',Arial;
  font-size: 20.0pt;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_490 span#rtr-s-Label_490_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'IOS8-Icons-Regular',Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_169 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_169 {
  position: absolute;
  width: 50px;
  height: 19px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_169 > .clipping, #s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_169 > .paddingLayer {
  height: 19px;
  width: 50px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_169 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_169 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_169 span#rtr-s-Label_169_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Header7_2 {
  position: absolute;
  width: 375px;
  height: 45px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Rich_text_43 > .backgroundLayer {
  height: calc(100% + -1px);
  width: calc(100% + 0px);
  background-color: #F6F6F6;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  box-shadow: none;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Rich_text_43 {
  position: absolute;
  width: 375px;
  height: 45px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Rich_text_43 > .clipping, #s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Rich_text_43 > .paddingLayer {
  height: 44px;
  width: 375px;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Rich_text_43 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Rich_text_43 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Rich_text_43 span#rtr-s-Rich_text_43_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Button_16 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Button_16 {
  position: absolute;
  width: 69px;
  height: 29px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Button_16 > .clipping, #s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Button_16 > .paddingLayer {
  height: 29px;
  width: 69px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Button_16 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Button_16 span {
  color: #007DFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Button_16 span#rtr-s-Button_16_0 {
  color: #007DFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_104 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_104 {
  position: absolute;
  width: 163px;
  height: 29px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 13.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_104 > .clipping, #s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_104 > .paddingLayer {
  height: 29px;
  width: 163px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_104 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_104 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 13.0pt;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_104 span#rtr-s-Label_104_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 13.0pt;
  line-height: 0px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-button-back {
  position: absolute;
  width: 115px;
  height: 31px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_58 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_58 {
  position: absolute;
  width: 91px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_58 > .clipping, #s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_58 > .paddingLayer {
  height: 26px;
  width: 91px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_58 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_58 span {
  color: #007DFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_58 span#rtr-s-Label_58_0 {
  color: #007DFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_59 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_59 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 20.0pt;
  font-family: 'IOS8-Icons-Regular',Arial;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_59 > .clipping, #s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_59 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_59 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_59 span {
  color: #157EFB;
  text-align: left;
  text-decoration: none;
  font-family: 'IOS8-Icons-Regular',Arial;
  font-size: 20.0pt;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_59 span#rtr-s-Label_59_0 {
  color: #157EFB;
  text-align: left;
  text-decoration: none;
  font-family: 'IOS8-Icons-Regular',Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Update-bar-loading_2 {
  position: absolute;
  width: 375px;
  height: 47px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Rectangle_29 > .backgroundLayer {
  height: calc(100% + -1px);
  width: calc(100% + 0px);
  background-color: #F6F6F6;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  box-shadow: none;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Rectangle_29 {
  position: absolute;
  width: 375px;
  height: 45px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Rectangle_29 > .clipping, #s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Rectangle_29 > .paddingLayer {
  height: 44px;
  width: 375px;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Rectangle_29 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Rectangle_29 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Rectangle_29 span#rtr-s-Rectangle_29_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_76 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_76 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 24.0pt;
  font-family: 'IOS8-Icons-Regular',Arial;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_76 > .clipping, #s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_76 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_76 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_76 span {
  color: #157EFB;
  text-align: left;
  text-decoration: none;
  font-family: 'IOS8-Icons-Regular',Arial;
  font-size: 24.0pt;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_76 span#rtr-s-Label_76_0 {
  color: #157EFB;
  text-align: left;
  text-decoration: none;
  font-family: 'IOS8-Icons-Regular',Arial;
  font-size: 24.0pt;
  line-height: 0px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Group_40 {
  position: absolute;
  width: 375px;
  height: 3px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #shapewrapper-s-Line_16 marker {
  fill: #757575;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #shapewrapper-s-Line_16 {
  position: absolute;
  width: 375px;
  height: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Line_16 {
  width: 375px;
  height: 0px;
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 1px;
  stroke: #757575;
  box-shadow: none;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #shapewrapper-s-Line_17 marker {
  fill: #157EFB;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #shapewrapper-s-Line_17 {
  position: absolute;
  width: 375px;
  height: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Line_17 {
  width: 375px;
  height: 0px;
  padding-top: 3px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 3px;
  stroke: #157EFB;
  box-shadow: none;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Search-bar-white_3 {
  position: absolute;
  width: 375px;
  height: 45px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Group_70 {
  position: absolute;
  width: 375px;
  height: 45px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Rectangle_30 > .backgroundLayer {
  height: calc(100% + -1px);
  width: calc(100% + 0px);
  background-color: #EAEAEA;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  box-shadow: none;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Rectangle_30 {
  position: absolute;
  width: 375px;
  height: 45px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Rectangle_30 > .clipping, #s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Rectangle_30 > .paddingLayer {
  height: 44px;
  width: 375px;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Rectangle_30 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Rectangle_30 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Rectangle_30 span#rtr-s-Rectangle_30_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Input_15 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Input_15 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Input_15 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Input_15 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Input_15 {
  position: absolute;
  width: 357px;
  height: 30px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Input_15 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Input_15 input {
  color: #999999;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Input_15 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EAEAEA;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EAEAEA;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EAEAEA;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EAEAEA;
  border-radius: 6px 6px 6px 6px;
  box-shadow: none;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Input_15 > .paddingLayer {
  height: 22px;
  width: 327px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 26px;
  padding-right: 4px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_107 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_107 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'IOS8-Icons-Regular',Arial;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_107 > .clipping, #s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_107 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_107 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_107 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: 'IOS8-Icons-Regular',Arial;
  font-size: 14.0pt;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_107 span#rtr-s-Label_107_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: 'IOS8-Icons-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}