#s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 > #backgroundBox {
    background-color: #FFFFFF;
    background-image: none;
    position: absolute;
}

#s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 > #alignmentBox {
    position: relative;
    max-width: 375px;
    max-height: 667px;
    width: 100%;
    height: 100%;
}

#s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-Background > .backgroundLayer {
    height: calc(100% + 0px);
    width: calc(100% + 0px);
    background-color: #02BBD2;
    background-image: none;
    box-shadow: none;
}

#s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-Background {
    position: absolute;
    width: 375px;
    height: 667px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    text-shadow: none;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-top: 0px;
    font-size: 8.0pt;
    font-family: 'Arial', Arial;
}

#s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-Background > .clipping, #s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-Background > .paddingLayer {
    height: 667px;
    width: 375px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

#s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-Background .valign {
    vertical-align: middle;
    text-align: left;
}

#s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-Background span {
    color: #000000;
    text-align: left;
    text-decoration: none;
    font-family: 'Arial', Arial;
    font-size: 8.0pt;
    font-style: normal;
    font-weight: 400;
}

#s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-Background span#rtr-s-Background_0 {
    color: #000000;
    text-align: left;
    text-decoration: none;
    font-family: 'Arial', Arial;
    font-size: 8.0pt;
    font-style: normal;
    font-weight: 400;
    line-height: 0px;
}

#s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-Group_2 {
    position: absolute;
    width: 230px;
    height: 234px;
}

#s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-Label_2 > .backgroundLayer {
    height: calc(100% + 0px);
    width: calc(100% + 0px);
    background-color: transparent;
    background-image: none;
    box-shadow: none;
}

#s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-Label_2 {
    position: absolute;
    width: 230px;
    height: 30px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    text-shadow: none;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-top: 0px;
    font-size: 12.0pt;
    font-family: 'Roboto-Light', Arial;
}

#s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-Label_2 > .clipping, #s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-Label_2 > .paddingLayer {
    height: 30px;
    width: 230px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

#s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-Label_2 .valign {
    vertical-align: middle;
    text-align: center;
}

#s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-Label_2 span {
    color: #000000;
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto-Light', Arial;
    font-size: 12.0pt;
}

#s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-Label_2 span#rtr-s-Label_2_0 {
    color: #000000;
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto-Light', Arial;
    font-size: 12.0pt;
    line-height: 0px;
}

#s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-Rich_text_2 > .backgroundLayer {
    height: calc(100% + 0px);
    width: calc(100% + 0px);
    background-color: transparent;
    background-image: none;
    box-shadow: none;
}

#s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-Rich_text_2 {
    position: absolute;
    width: 230px;
    height: 75px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    text-shadow: none;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-top: 0px;
    font-size: 40.0pt;
    font-family: 'Roboto-Thin', Arial;
}

#s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-Rich_text_2 > .clipping, #s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-Rich_text_2 > .paddingLayer {
    height: 75px;
    width: 230px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

#s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-Rich_text_2 .valign {
    vertical-align: middle;
    text-align: center;
}

#s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-Rich_text_2 span {
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto-Thin', Arial;
    font-size: 40.0pt;
}

#s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-Rich_text_2 span#rtr-s-Rich_text_2_0 {
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto-Thin', Arial;
    font-size: 40.0pt;
    line-height: 0px;
}

#s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-Rich_text_2 span#rtr-s-Rich_text_2_1 {
    color: #FFFFFF;
    text-align: left;
    text-decoration: none;
    font-family: 'Roboto-Thin', Arial;
    font-size: 40.0pt;
    line-height: 0px;
}

#s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-Image_2 {
    position: absolute;
    width: 130px;
    height: 130px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    padding-left: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-top: 0px;
}

#s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-Image_2 > img, #s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-Image_2 > svg {
    height: 130px;
    width: 130px;
    box-shadow: none;
}

#s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-Image_3 {
    position: absolute;
    width: 36px;
    height: 36px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    padding-left: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-top: 0px;
}

#s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-Image_3 > img, #s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-Image_3 > svg {
    height: 36px;
    width: 36px;
    box-shadow: none;
}

.devMobile #jim-container .ui-page {
    overflow-x: hidden;
}

.non_jim_mobile #simulation {
    overflow-x: hidden;
}

.web #simulation {
    overflow-x: hidden;
}

#s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 > #loadMark {
    width: 1px;
    visibility: hidden;
    display: none;
}
