#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Rectangle_31 {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #D9D9D9;
    -ms-transform: rotate(0.0deg);
}

#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Label_81 {
    -ms-transform: rotate(0.0deg);
}

#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Line_18 {
    stroke-width: 1px;
    stroke: #757575;
    -ms-transform: rotate(0.0deg);
}

#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Line_18 {
    stroke-width: 1px;
    stroke: #757575;
    -ms-transform: rotate(0.0deg);
}

#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Line_19 {
    stroke-width: 3px;
    stroke: #157EFB;
    -ms-transform: rotate(0.0deg);
}

#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Line_19 {
    stroke-width: 3px;
    stroke: #157EFB;
    -ms-transform: rotate(0.0deg);
}

#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Rich_text_38 {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #D9D9D9;
    -ms-transform: rotate(0.0deg);
}

#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Button_13 {
    -ms-transform: rotate(0.0deg);
}

#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Label_100 {
    -ms-transform: rotate(0.0deg);
}

#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Panel_6 > .valign {
    vertical-align: top;
}

#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Spacer {
    -ms-transform: rotate(0.0deg);
}

#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Rich_text_37 {
    -ms-transform: rotate(0.0deg);
}

#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Line_6 {
    stroke-width: 1px;
    stroke: #CCCCCC;
    -ms-transform: rotate(0.0deg);
}

#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Line_6 {
    stroke-width: 1px;
    stroke: #CCCCCC;
    -ms-transform: rotate(0.0deg);
}

#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Label_213 {
    -ms-transform: rotate(0.0deg);
}

#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Label_101 {
    -ms-transform: rotate(0.0deg);
}

#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Label_150 {
    -ms-transform: rotate(0.0deg);
}

#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Rich_text_32 {
    -ms-transform: rotate(0.0deg);
}

#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Label_71 {
    -ms-transform: rotate(0.0deg);
}

#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Line_7 {
    stroke-width: 1px;
    stroke: #CCCCCC;
    -ms-transform: rotate(0.0deg);
}

#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Line_7 {
    stroke-width: 1px;
    stroke: #CCCCCC;
    -ms-transform: rotate(0.0deg);
}

#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Label_214 {
    -ms-transform: rotate(0.0deg);
}

#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Label_110 {
    -ms-transform: rotate(0.0deg);
}

#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Rich_text_34 {
    -ms-transform: rotate(0.0deg);
}

#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Label_73 {
    -ms-transform: rotate(0.0deg);
}

#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Line_9 {
    stroke-width: 1px;
    stroke: #CCCCCC;
    -ms-transform: rotate(0.0deg);
}

#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Line_9 {
    stroke-width: 1px;
    stroke: #CCCCCC;
    -ms-transform: rotate(0.0deg);
}

#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Label_216 {
    -ms-transform: rotate(0.0deg);
}

#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Label_113 {
    -ms-transform: rotate(0.0deg);
}

#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Rich_text_35 {
    -ms-transform: rotate(0.0deg);
}

#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Label_83 {
    -ms-transform: rotate(0.0deg);
}

#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Line_10 {
    stroke-width: 1px;
    stroke: #CCCCCC;
    -ms-transform: rotate(0.0deg);
}

#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Line_10 {
    stroke-width: 1px;
    stroke: #CCCCCC;
    -ms-transform: rotate(0.0deg);
}

#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Label_217 {
    -ms-transform: rotate(0.0deg);
}

#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Label_114 {
    -ms-transform: rotate(0.0deg);
}

#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Rich_text_33 {
    -ms-transform: rotate(0.0deg);
}

#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Label_72 {
    -ms-transform: rotate(0.0deg);
}

#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Label_215 {
    -ms-transform: rotate(0.0deg);
}

#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Label_111 {
    -ms-transform: rotate(0.0deg);
}

#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Spacer_1 {
    -ms-transform: rotate(0.0deg);
}

#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Rich_text_39 {
    -ms-transform: rotate(0.0deg);
}

#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Label_84 {
    -ms-transform: rotate(0.0deg);
}

#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Line_11 {
    stroke-width: 1px;
    stroke: #CCCCCC;
    -ms-transform: rotate(0.0deg);
}

#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Line_11 {
    stroke-width: 1px;
    stroke: #CCCCCC;
    -ms-transform: rotate(0.0deg);
}

#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Label_218 {
    -ms-transform: rotate(0.0deg);
}

#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Label_115 {
    -ms-transform: rotate(0.0deg);
}

#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Rich_text_42 {
    -ms-transform: rotate(0.0deg);
}

#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Label_85 {
    -ms-transform: rotate(0.0deg);
}

#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Label_219 {
    -ms-transform: rotate(0.0deg);
}

#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Label_116 {
    -ms-transform: rotate(0.0deg);
}

#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Rectangle_49 {
    -ms-transform: rotate(0.0deg);
}

#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Label_426 {
    -ms-transform: rotate(0.0deg);
}

#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Label_451 {
    -ms-transform: rotate(0.0deg);
}

#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Label_171 {
    -ms-transform: rotate(0.0deg);
}

#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Ellipse_16 {
    -ms-transform: rotate(0.0deg);
}

#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Ellipse_77 {
    -ms-transform: rotate(0.0deg);
}

#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Ellipse_78 {
    -ms-transform: rotate(0.0deg);
}

#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Ellipse_79 {
    -ms-transform: rotate(0.0deg);
}

#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Ellipse_80 {
    -ms-transform: rotate(0.0deg);
}

#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Label_493 {
    -ms-transform: rotate(0.0deg);
}

#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Label_172 {
    -ms-transform: rotate(0.0deg);
}

.devMobile #jim-container .ui-page {
    overflow-x: hidden;
}

.non_jim_mobile #simulation {
    overflow-x: hidden;
}

.web #simulation {
    overflow-x: hidden;
}

#s-cadcdbd5-d639-4865-b840-0c142b724760 > #loadMark {
    width: 1px;
    visibility: hidden;
    display: none;
}
