#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Mail_1 .s-dotblue {
    rotation: 0.0;
    margin-left: 0px;
    margin-top: 0px;
}

#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Mail_1 .s-Clip {
    -ms-filter: ;
    filter: ;
    margin-left: 0px;
    margin-top: 0px;
}

#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Mail_1 .s-Arrow {
    -ms-filter: ;
    filter: ;
    margin-left: 0px;
    margin-top: 0px;
}

#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Rectangle_46 {
    -ms-filter: ;
    filter: ;
    margin-left: 0px;
    margin-top: 0px;
}

#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_484 {
    -ms-filter: ;
    filter: ;
    margin-left: 0px;
    margin-top: 0px;
}

#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_489 {
    -ms-filter: ;
    filter: ;
    margin-left: 0px;
    margin-top: 0px;
}

#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_168 {
    -ms-filter: ;
    filter: ;
    margin-left: 0px;
    margin-top: 0px;
}

#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Ellipse_27 {
    rotation: 0.0;
    margin-left: 0px;
    margin-top: 0px;
}

#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Ellipse_133 {
    rotation: 0.0;
    margin-left: 0px;
    margin-top: 0px;
}

#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Ellipse_134 {
    rotation: 0.0;
    margin-left: 0px;
    margin-top: 0px;
}

#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Ellipse_135 {
    rotation: 0.0;
    margin-left: 0px;
    margin-top: 0px;
}

#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Ellipse_136 {
    rotation: 0.0;
    margin-left: 0px;
    margin-top: 0px;
}

#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_490 {
    -ms-filter: ;
    filter: ;
    margin-left: 0px;
    margin-top: 0px;
}

#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_169 {
    -ms-filter: ;
    filter: ;
    margin-left: 0px;
    margin-top: 0px;
}

#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Rich_text_43 {
    -ms-filter: ;
    filter: ;
    margin-left: 0px;
    margin-top: 0px;
}

#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Button_16 {
    -ms-filter: ;
    filter: ;
    margin-left: 0px;
    margin-top: 0px;
}

#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_104 {
    -ms-filter: ;
    filter: ;
    margin-left: 0px;
    margin-top: 0px;
}

#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_58 {
    -ms-filter: ;
    filter: ;
    margin-left: 0px;
    margin-top: 0px;
}

#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_59 {
    -ms-filter: ;
    filter: ;
    margin-left: 0px;
    margin-top: 0px;
}

#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Rectangle_29 {
    -ms-filter: ;
    filter: ;
    margin-left: 0px;
    margin-top: 0px;
}

#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_76 {
    -ms-filter: ;
    filter: ;
    margin-left: 0px;
    margin-top: 0px;
}

#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Line_16 {
    rotation: 0.0;
    margin-left: 0px;
    margin-top: 0px;
}

#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Line_17 {
    rotation: 0.0;
    margin-left: 0px;
    margin-top: 0px;
}

#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Rectangle_30 {
    -ms-filter: ;
    filter: ;
    margin-left: 0px;
    margin-top: 0px;
}

#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_107 {
    -ms-filter: ;
    filter: ;
    margin-left: 0px;
    margin-top: 0px;
}

.devMobile #jim-container .ui-page {
    overflow-x: hidden;
}

.non_jim_mobile #simulation {
    overflow-x: hidden;
}

.web #simulation {
    overflow-x: hidden;
}

#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 > #loadMark {
    width: 1px;
    visibility: hidden;
    display: none;
}
