#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Panel_3 > .valign {
    vertical-align: top;
}

#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Row_cell_5 {
    position: relative;
}

#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Mail_1 .s-Row_cell_6 {
    position: relative;
}

#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Mail_1 .s-dotblue {
    -ms-transform: rotate(0.0deg);
}

#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Mail_1 .s-Clip {
    -ms-transform: rotate(0.0deg);
}

#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Mail_1 .s-Arrow {
    -ms-transform: rotate(0.0deg);
}

#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Rectangle_46 {
    -ms-transform: rotate(0.0deg);
}

#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_484 {
    -ms-transform: rotate(0.0deg);
}

#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_489 {
    -ms-transform: rotate(0.0deg);
}

#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_168 {
    -ms-transform: rotate(0.0deg);
}

#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Ellipse_27 {
    -ms-transform: rotate(0.0deg);
}

#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Ellipse_133 {
    -ms-transform: rotate(0.0deg);
}

#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Ellipse_134 {
    -ms-transform: rotate(0.0deg);
}

#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Ellipse_135 {
    -ms-transform: rotate(0.0deg);
}

#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Ellipse_136 {
    -ms-transform: rotate(0.0deg);
}

#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_490 {
    -ms-transform: rotate(0.0deg);
}

#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_169 {
    -ms-transform: rotate(0.0deg);
}

#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Rich_text_43 {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #D9D9D9;
    -ms-transform: rotate(0.0deg);
}

#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Button_16 {
    -ms-transform: rotate(0.0deg);
}

#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_104 {
    -ms-transform: rotate(0.0deg);
}

#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_58 {
    -ms-transform: rotate(0.0deg);
}

#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_59 {
    -ms-transform: rotate(0.0deg);
}

#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Rectangle_29 {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #D9D9D9;
    -ms-transform: rotate(0.0deg);
}

#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_76 {
    -ms-transform: rotate(0.0deg);
}

#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Line_16 {
    stroke-width: 1px;
    stroke: #757575;
    -ms-transform: rotate(0.0deg);
}

#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Line_16 {
    stroke-width: 1px;
    stroke: #757575;
    -ms-transform: rotate(0.0deg);
}

#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Line_17 {
    stroke-width: 3px;
    stroke: #157EFB;
    -ms-transform: rotate(0.0deg);
}

#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Line_17 {
    stroke-width: 3px;
    stroke: #157EFB;
    -ms-transform: rotate(0.0deg);
}

#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Rectangle_30 {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #D9D9D9;
    -ms-transform: rotate(0.0deg);
}

#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_107 {
    -ms-transform: rotate(0.0deg);
}

.devMobile #jim-container .ui-page {
    overflow-x: hidden;
}

.non_jim_mobile #simulation {
    overflow-x: hidden;
}

.web #simulation {
    overflow-x: hidden;
}

#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 > #loadMark {
    width: 1px;
    visibility: hidden;
    display: none;
}
