#s-b6998349-ca37-49c4-bbe3-b1ef548a7bce #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-b6998349-ca37-49c4-bbe3-b1ef548a7bce #s-Rectangle_10 {
  -ms-transform: rotate(0.0deg);
}
#s-b6998349-ca37-49c4-bbe3-b1ef548a7bce #s-Label_97 {
  -ms-transform: rotate(0.0deg);
}
#s-b6998349-ca37-49c4-bbe3-b1ef548a7bce #s-Label_98 {
  -ms-transform: rotate(0.0deg);
}
#s-b6998349-ca37-49c4-bbe3-b1ef548a7bce #s-Label_99 {
  -ms-transform: rotate(0.0deg);
}
#s-b6998349-ca37-49c4-bbe3-b1ef548a7bce #s-Ellipse_33 {
  -ms-transform: rotate(0.0deg);
}
#s-b6998349-ca37-49c4-bbe3-b1ef548a7bce #s-Ellipse_34 {
  -ms-transform: rotate(0.0deg);
}
#s-b6998349-ca37-49c4-bbe3-b1ef548a7bce #s-Ellipse_35 {
  -ms-transform: rotate(0.0deg);
}
#s-b6998349-ca37-49c4-bbe3-b1ef548a7bce #s-Ellipse_36 {
  -ms-transform: rotate(0.0deg);
}
#s-b6998349-ca37-49c4-bbe3-b1ef548a7bce #s-Ellipse_37 {
  -ms-transform: rotate(0.0deg);
}
#s-b6998349-ca37-49c4-bbe3-b1ef548a7bce #s-Label_106 {
  -ms-transform: rotate(0.0deg);
}
#s-b6998349-ca37-49c4-bbe3-b1ef548a7bce #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-b6998349-ca37-49c4-bbe3-b1ef548a7bce #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-b6998349-ca37-49c4-bbe3-b1ef548a7bce #s-Text_6 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-b6998349-ca37-49c4-bbe3-b1ef548a7bce #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-b6998349-ca37-49c4-bbe3-b1ef548a7bce #s-Text_5 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-b6998349-ca37-49c4-bbe3-b1ef548a7bce #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-b6998349-ca37-49c4-bbe3-b1ef548a7bce #s-Text_4 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-b6998349-ca37-49c4-bbe3-b1ef548a7bce #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-b6998349-ca37-49c4-bbe3-b1ef548a7bce #s-Text_7 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-b6998349-ca37-49c4-bbe3-b1ef548a7bce #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-b6998349-ca37-49c4-bbe3-b1ef548a7bce #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-b6998349-ca37-49c4-bbe3-b1ef548a7bce > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}